
<main role="main">
  </div>
     <div class="row">
      <div class="col-sm-3" class="image-size">
        <div class="thumbnail">
          <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow animation" id="image-size">
            <img src="https://www.audiosear.ch/media/b1c280ee5b915dfcdfb9b192cb473edd/0/public/image_file/104138/600x600bb.jpg" alt="Whatever works"/>
          </div>
        </div>
      </div>
      <div class="col-sm-3" class="image-size">
        <div class="thumbnail">
          <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow animation" id="image-size">
            <img src="https://www.audiosear.ch/media/143434df37dadc9ae0cbee7e58c3644a/0/public/image_file/104141/600x600bb.jpg"/>
          </div>
          </div>
        </div>
      <div class="col-sm-3" class="image-size">
        <div class="thumbnail">
          <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow animation" id="image-size">
            <img src="https://www.audiosear.ch/media/c3434bf7c08d2fe45fd85895ef9a412e/0/public/image_file/105832/600x600bb.jpg"/>
          </div>
          </div>
        </div>
      <div class="col-sm-3" class="image-size">
        <div class="thumbnail">
          <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow animation" id="image-size">
            <img src="https://www.audiosear.ch/media/82284eeca2a1bb0a02cc15df72fb7752/0/public/image_file/115631/600x600bb.jpg"/>
        </div>
        </div>
      </div>
      <div class="text-center">
        <h4>Looking for a new podcast? Click the button to generate a new podcast at random.</h4>
      </div>
      <div class="text-center">
      <form action="podcast" method="get">
      <button type="submit" class="btn btn-primary gray-circle-button btn-mdb btn-raised btn-lg shuffle-btn" id="button">Hit Me</button>
    </form>
  </div>
</main>
